body {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: black;
    justify-content: right;
        color: #fff;
            padding: 10px;
            position: sticky;
            z-index: 100;
            top: 0;
            height: 5%;
}

.navbar-container {
    display: flex;
    align-items: right;
    justify-content: space-between;
    max-width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.line {
    max-width: 25px;
    height: 3px;
    background-color: rgb(233, 15, 15);
    margin: 5px;
}

@media screen and (max-width: 600px) and (max-width: 990px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(45, 100, 100);
        padding: 10px 0;
    }

    .nav-links.show li {
        margin: 10px;
    }
}

.slidetext-container {
    max-width: 50%;
    height: auto;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide-in-text {
    animation: 2s ease-out 0s 1 slideInLeft;
    font-size: 3vw;
    float: left;
    padding-left: 3%;
    color: white;
    transition: transform 0.2s ease;
    max-width: 50%;
    
}
.slide-in-text:hover {
    transform: scale(1.05);
    /* Increase the button size by 10% on hover */
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.image-container {
    position: relative;
    max-width: 30%;
    height: auto;
    overflow: hidden;
}


#slidingImage {
    position: absolute;
    top: 0;
    padding-top: 15%;
    padding-right: 5%;
    right: -100%;
    max-width: 41%;
    height: auto;
    transition: right 1s ease;
}

#slidingImage.slide-in {
    right: 0;
}

p {
    color: white;
}

.button-container {
    height: auto;
    padding: 20px;
}

button {
    padding: 1% 2%;
    margin-left: 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* Add a smooth scaling transition on hover */
}

button:hover {
    transform: scale(1.05);
    /* Increase the button size by 10% on hover */
}

.text-container {
    max-width: 60%;
    height: auto;
    padding-top: 20px;
    color: white;
}

.text-container h2, p {
    max-width: 90%;
    padding-left: 2%;
}

#icons-container {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255)
}


#icons-container .icons {
    position: relative;
    max-width: 30%;
    float: right;
    margin: 20px;
}

#icons-container a {
    float: right;
    font-size: 37px;
    text-decoration: none;
    padding: 15px;
}

#icons-container a.twitter-icon {
    color: #1DA1F2;
}

#icons-container a.facebook-icon {
    color: #1877F2;
}

#icons-container a.instagram-icon {
    background: linear-gradient(135deg, #833AB4, #C13584, #E1306C);
    border-radius: 50%;
    color: rgb(253, 249, 249);
}

#picture2 {
    height: auto;
    max-width: 40%;
    float: left;
    margin: 20px;
    transition: transform 0.2s ease;
}
#picture2:hover {
    transform: scale(1.05);
    /* Increase the button size by 10% on hover */
}
#icons-container .testimonials {
    max-width: 20%;
    color: black;
    float: left;
    font-weight: bolder;
    height: auto;
}

@media screen and (max-width: 768px) {
    p,
    button,
    h2{
        font-size: 3vw;
        /* Font size for smaller screens */
    }
}

